<form (ngSubmit)="submitForm()">
    <div>
      <label for="petName">Nome do Pet:</label>
      <input type="text" id="petName" name="petName" [(ngModel)]="atendimento.petName" required>
    </div>
    <div>
      <label for="clienteName">Nome do Cliente:</label>
      <input type="text" id="clienteName" name="clienteName" [(ngModel)]="atendimento.clienteName" required>
    </div>
    <div>
      <label for="data">Data do Atendimento:</label>
      <input type="date" id="data" name="data" [(ngModel)]="atendimento.data" required>
    </div>
    <div>
      <label for="observacoes">Observações:</label>
      <textarea id="observacoes" name="observacoes" [(ngModel)]="atendimento.observacoes"></textarea>
    </div>
    <button type="submit">Cadastrar</button>
  </form>
  