<!-- listagem-atendimentos.component.html -->

<h2>Listagem de Atendimentos</h2>

<div *ngIf="atendimentos.length === 0">
  <p>Nenhum atendimento cadastrado.</p>
</div>

<div *ngFor="let atendimento of atendimentos">
  <div>
    <strong>Nome do Cliente:</strong> {{ atendimento.nomeCliente }}
  </div>
  <div>
    <strong>Nome do Pet:</strong> {{ atendimento.nomePet }}
  </div>
  <div>
    <strong>Data do Atendimento:</strong> {{ atendimento.dataAtendimento | date: 'dd/MM/yyyy' }}
  </div>
  <div>
    <strong>Observações:</strong> {{ atendimento.observacoes }}
  </div>
  <hr>
</div>
