<form [formGroup]="authForm" (ngSubmit)="submitForm()" *ngIf="authForm">
  <input type="email" formControlName="email" placeholder="E-mail" required>
  <input type="password" formControlName="password" placeholder="Senha" required>
  <div *ngIf="authForm.get('email')?.errors">
    <small *ngIf="authForm.get('email')?.errors?.['required']">O e-mail é obrigatório.</small>
    <small *ngIf="authForm.get('email')?.errors?.['email']">O e-mail não é válido.</small>
  </div>
  <div *ngIf="authForm.get('password')?.errors">
    <small *ngIf="authForm.get('password')?.errors?.['required']">A senha é obrigatória.</small>
    <small *ngIf="authForm.get('password')?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres.</small>
    <small *ngIf="authForm.get('password')?.errors?.['uppercase']">A senha deve conter pelo menos uma letra maiúscula.</small>
  </div>
  <button type="submit">{{ isLoginMode ? 'Login' : 'Cadastrar' }}</button>
  <button type="button" (click)="toggleMode()">
    {{ isLoginMode ? 'Não tem uma conta? Clique aqui para se cadastrar.' : 'Já tem uma conta? Clique aqui para fazer login.' }}
  </button>
</form>
