.atividade6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom right, #ff9191, #ff5e5e);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 94, 94, 0.5);
}

