<div class="dashboard">
  <div class="header">
    <h2>SuínoFarm</h2>
    <button (click)="toggleSidebar()" class="toggle-button">&#9776;</button>

  </div>
  <div class="content">
    <div class="sidebar" [class.hide]="sidebarHidden">
      <div class="button-container">
        <button (click)="showCadastro()" [class.active]="currentComponent === 'cadastro'">Cadastro de Suíno</button>
      </div>
      <div class="button-container">
        <button (click)="showListagem()" [class.active]="currentComponent === 'listagem'">Listagem de Suínos</button>
      </div>
      <div class="button-container">
        <button (click)="showControlePeso()" [class.active]="currentComponent === 'controlePeso'">Controle de Peso</button>
      </div>
      <div class="button-container">
        <button (click)="showEdicaoPeso()" [class.active]="currentComponent === 'edicaoPeso'">Edição de Peso</button>
      </div>
      <div class="button-container">
        <button (click)="showCadastroPeso()" [class.active]="currentComponent === 'cadastroPeso'">Cadastro de Peso</button>
      </div>
    </div>
    <div class="main-content">
      <!-- Adicione os componentes aqui conforme necessário -->
      <ng-container *ngIf="currentComponent === 'cadastro'">
        <app-suino-cadastro></app-suino-cadastro>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'listagem'">
        <app-suino-listagem></app-suino-listagem>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'controlePeso'">
        <app-controle-peso></app-controle-peso>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'edicaoPeso'">
        <app-edicao-peso></app-edicao-peso>
      </ng-container>
      <ng-container *ngIf="currentComponent === 'cadastroPeso'">
        <app-cadastro-peso></app-cadastro-peso>
      </ng-container>
    </div>
  </div>
  <div class="footer">
    <p>&copy; {{ currentYear }} SuínoFarm. Todos os direitos reservados.</p>
  </div>
</div>
