* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form, .roteiro-viagens {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: #393e4f;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

form:hover, .roteiro-viagens:hover {
    transform: scale(1.05);
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #4a4f63;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

input:focus {
    background-color: #5e6480;
}

button {
    background-color: #61dafb;
    color: #282c34;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #4fa3d1;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #4a4f63;
}

#containerDestinos {
    margin-top: 20px;
    max-height: 700px; /* Ajuste conforme necessário */
    overflow-y: auto;
}

.roteiro-viagens {
    background-color: #393e4f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.roteiro-viagens img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
    max-height: 200px; /* Ajuste conforme necessário */
}
