<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <title>Edit Employee</title>
</head>
<body>
    <div class="container mt-5">
        <h2>Edit Employee</h2>
        <form action="/editarFuncionario/<%= dados.idFuncionario %>" method="post">
            <!-- Employee Table Data -->
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" name="nome" class="form-control" id="nome" value="<%= dados.nome %>">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" value="<%= dados.email %>">
            </div>
            <div class="form-group">
                <label for="senhaFun">Senha</label>
                <input type="password" name="senhaFun" class="form-control" id="senhaFun" value="<%= dados.senhaFun %>">
            </div>
            
            <button class="btn btn-primary" type="submit" name="btIncluirFuncionario">Inserir</button>
            <a href="/" class="btn btn-outline-primary btn-sm">Voltar</a>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</body>
</html>
