<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background: #2c3e50; /* Fundo escuro */
            color: #000000; /* Cor do texto */
        }
        .navbar {
            background: #000000; /* Cor do cabeçalho */
            
        }
        .navbar-brand span {
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer; /* Adiciona cursor pointer para indicar que é clicável */
        }
        .navbar-item {
            margin: right;
        }
        .nav-titulo {
            color: #ffffff;
        }
        .nav-link {
            color: #ffffff !important; /* Cor do texto das opções no cabeçalho */
        }
        .car-card {
            background-color: #cbd2d8;
            margin-bottom: 20px;
            border-radius: 15px;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
            transition: all 0.3s linear;
        }
        .car-card:hover {
            transform: scale(1.03);
        }
        .car-card .card-body {
            padding: 15px;
        }
    </style>
    <title>Edit Client</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light ">
       
        <img src="logo.png" width="50px" alt="Fiat Logo">
        
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-titulo">
                <h1><a class="nav-titulo" href="/">Santa Cruz</a></h1>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/funcionarios">Funcionarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Editar Cliente</h2>
            <form action="/editarCliente/<%= dados.idCliente %>" method="post">
                <!-- Client Table Data -->
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" class="form-control" id="nome" value="<%= dados.nome %>">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" id="email" value="<%= dados.email %>">
                </div>
                <div class="form-group">
                    <label for="senhaCli">Senha</label>
                    <input type="password" name="senhaCli" class="form-control" id="senhaCli" value="<%= dados.senhaCli %>">
                </div>

                <div class="form-group d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/" class="btn btn-outline-primary btn-sm ml-2">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>




</body>
</html>
