/* src/app/app.component.css */

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.headers {
  display: flex;
  flex-direction: column; /* Adicionado para alinhar verticalmente */
}

.category, .vehicles, .details, .value {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 200px;
}

ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}

li {
  margin: 5px 0;
  padding: 8px;
  background-color: #2a2a2a;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

li:hover {
  background-color: #3a3a3a;
  transform: scale(1.05);
}

li:active {
  transform: scale(0.95);
}
