/* resultados.component.css */
.item-especial {
    font-family: 'Varela Round', sans-serif;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 100%;
  }
  