/* Contêiner Principal */
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #2c3e50;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    color: #2c3e50;
}

.header {
    border-bottom: 2px solid #34495e;
    color: #34495e;
    text-align: end;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.body {
    margin-top: 20px;
}
