<div *ngFor="let manejo of historicoManejos">
  <h2>Histórico de Manejo Sanitário</h2>
  <table>
    <thead>
      <tr>
        <th>Brinco</th>
        <th *ngFor="let atividade of manejo.atividades">{{ atividade }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brinco of manejo.brincos">
        <td>{{ brinco }}</td>
        <td *ngFor="let atividade of manejo.atividades; let i = index">
          <input type="text" [(ngModel)]="manejo.atividadesRealizadas[brinco][i]">
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="salvarAtividades(manejo)">Salvar</button>
</div>
