<!-- form-usuario.component.html -->

<div class="form-container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="mat-form-field">
        <input matInput formControlName="username" placeholder="Nome de Usuário">
        <mat-error *ngIf="userForm.get('username').errors?.required">O nome de usuário é obrigatório.</mat-error>
        <mat-error *ngIf="userForm.get('username').errors?.pattern">Não deve conter espaços e deve ter no máximo 12 caracteres.</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-form-field">
        <input matInput formControlName="password" type="password" placeholder="Senha">
        <mat-error *ngIf="userForm.get('password').errors?.required">A senha é obrigatória.</mat-error>
        <mat-error *ngIf="userForm.get('password').errors?.minlength">A senha deve ter no mínimo 4 caracteres.</mat-error>
        <mat-error *ngIf="userForm.get('password').errors?.pattern">A senha deve conter pelo menos uma letra maiúscula e um símbolo.</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-form-field">
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="userForm.get('email').errors?.required">O email é obrigatório.</mat-error>
        <mat-error *ngIf="userForm.get('email').errors?.email">O email deve ser válido.</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-form-field">
        <input matInput formControlName="nomeCompleto" placeholder="Nome Completo">
        <mat-error *ngIf="userForm.get('nomeCompleto').errors?.required">O nome completo é obrigatório.</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-form-field">
        <input matInput formControlName="telefone" placeholder="Telefone">
        <mat-error *ngIf="userForm.get('telefone').errors?.pattern">O telefone deve ser um número válido de 10 ou 11 dígitos.</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-form-field">
        <input matInput formControlName="endereco" placeholder="Endereço">
        <mat-error *ngIf="userForm.get('endereco').errors?.required">O endereço é obrigatório.</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-form-field">
        <input matInput formControlName="dataNascimento" placeholder="Data de Nascimento" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="userForm.get('dataNascimento').errors?.required">A data de nascimento é obrigatória.</mat-error>
        <mat-error *ngIf="userForm.get('dataNascimento').errors?.idadeMinima">O usuário deve ter no mínimo 18 anos.</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-form-field">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="genero">
          <mat-option *ngFor="let option of generoOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('genero').errors?.required">O gênero é obrigatório.</mat-error>
      </mat-form-field>
  
      <mat-form-field class="mat-form-field">
        <mat-label>Profissão</mat-label>
        <mat-select formControlName="profissao">
          <mat-option *ngFor="let option of profissaoOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('profissao').errors?.required">A profissão é obrigatória.</mat-error>
      </mat-form-field>
  
      <button type="submit" mat-raised-button color="primary">Enviar</button>
    </form
  