<form id="user-form" [formGroup]="userForm" (ngSubmit)="submitForm()">
    <div>
        <h2>Dados de Login</h2>
        <div class="form-group">
            <div class="form-group">
                <label>Nome de Usuário</label>
                <input formControlName="userName" type="text" class="form-control" placeholder="Nome de Usuário" />
                <div *ngIf="!userForm.get('userName')?.pristine && userForm.get('userName')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('userName')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Senha" />
                <div *ngIf="!userForm.get('password')?.pristine && userForm.get('password')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('password')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <h2>Dados Pessoais</h2>
        <div class="form-group">
            <div class="form-group">
                <label>Nome Completo</label>
                <input formControlName="fullName" type="text" class="form-control" placeholder="Nome Completo" />
                <div *ngIf="!userForm.get('fullName')?.pristine && userForm.get('fullName')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('fullName')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
            <div class="form-group">
                <label>E-mail</label>
                <input formControlName="email" type="email" class="form-control" placeholder="E-mail" />
                <div *ngIf="!userForm.get('email')?.pristine && userForm.get('email')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('email')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
            <div class="form-group">
                <label>Telefone</label>
                <input formControlName="phoneNumber" type="tel" class="form-control" placeholder="Telefone" />
                <div class="example">Exemplo: (99) 99999-9999</div>
                <div *ngIf="!userForm.get('phoneNumber')?.pristine && userForm.get('phoneNumber')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('phoneNumber')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
            
            <div class="form-group">
                <label>Endereço</label>
                <input formControlName="address" type="text" class="form-control" placeholder="Endereço" />
                <div *ngIf="!userForm.get('address')?.pristine && userForm.get('address')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('address')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
            <div class="form-group">
                <label>Data de Nascimento</label>
                <input formControlName="birthDate" type="date" class="form-control" placeholder="Data de Nascimento" />
                <div *ngIf="!userForm.get('birthDate')?.pristine && userForm.get('birthDate')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('birthDate')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
            <div class="form-group">
                <label>Gênero</label>
                <select formControlName="gender" class="form-control">
                    <option value="" disabled selected>Selecione o gênero</option>
                    <option *ngFor="let option of genderOptions" [value]="option.value">{{option.label}}</option>
                </select>
                <div *ngIf="!userForm.get('gender')?.pristine && userForm.get('gender')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('gender')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
            <div class="form-group">
                <label>Profissão</label>
                <select formControlName="profession" class="form-control">
                    <option value="" disabled selected>Selecione a profissão</option>
                    <option *ngFor="let option of professionOptions" [value]="option.value">{{option.label}}</option>
                </select>
                <div *ngIf="!userForm.get('profession')?.pristine && userForm.get('profession')?.errors" class="error-box">
                    <p class="error-message" *ngFor="let error of userForm.get('profession')?.errors | keyvalue">{{error.value.message || "Necessário preencher este campo"}}</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="p-fluid">
        <button class="btn btn-primary" type="submit">Fazer Cadastro</button>
    </div>
</form>
