
/* Estilos para o container do formulário */
.form-container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Estilos para os campos de formulário */
  .mat-form-field {
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Estilos para o botão de submit */
  .submit-button {
    margin-top: 20px;
  }
  